.projects-gallery{
    position: absolute;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    top: 50px;
    right: 0;
    z-index: 1;
    width: 70%;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn;
    animation-fill-mode: forwards;

    .project-item {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;

        .title-bar {
            position: absolute;
            bottom: 50px;
            background-color: #b8d643;
            padding: 3px 20px 3px 20px;
            color: #275d16;
            line-height: 20px;
            box-sizing: border-box;
            font-weight: bold;
            left: -100%;
            transition: all 0.5s;

            &:after {
                content: '';
                position: absolute;
                height: 18px;
                width: 18px;
                right: -10px;
                top: 4px;
                transform: rotate(45deg);
                background-color: #b8d643;
            }
        }

        &:hover .title-bar{
            left: 0;
        }

    }

    .project-item img{
        width: 100%;
    }

    span{
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #ffd700;
    }
}